extends ../../layouts/_template-blog-article


block vars
	- var page_title = "Quick blackwork FAQs"
	- var page_description = "A quick guide all about blackwork embroidery"
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	-var article_title = "Quick blackwork embroidery frequently asked questions"
	-var article_duration = ""
	-var article_date = "3 July 2022"
	-var article_photo = "dragonfly-blackwork-by-trunky-stitches"

block nav
	- var active = "blog"

block article
	p Got a question about blackwork? Check out the quick FAQs below.
	h2 Q: Is there a specific way to stitch blackwork so that the back of the piece will be like  traditional blackwork, or does it work like backstitching?
	p A: I personally don't worry how the back looks as I normally cover the back of the piece, either in a frame of if framing in a hoop I will cover the back with felt. Therefore, I just stitch it like normal back stitch. But that's not to say it's not possible with the Holbein stitch.
	h2 Q: What is the holbein stitch?
	p A: The holbein stitch or double running stitch is a type of stitch that enables the stitching to look identical on both the front and back of the piece. You have to plan the route you take with your stitches carefully, leaving gaps to fill in on the way back. Don't drive yourself crazy trying to do Holbein stitch unless it's something that will be visible on both sides. The alternative stitch to use is the simple backstitch.
	p None of my blackwork patterns are designed to be stitched with the holbein stitch, but that's not to say it's not possible.
	h2 Q: Do you stitch straight onto your hoops or use a larger frame then transfer to the smaller hoop?
	p A: I like to stitch on a 11 inch snap frame or a bigger hoop and then I transfer the piece to the framed hoop. You can stitch straight onto the hoop but this would require moving the fabric several times and potentially having to iron out any creases and I hate ironing so try to avoid where possible
	h2 Q: Do you always stitch it in black thread?
	p A: Traditionally blackwork was stitched in black thread but these days the term “blackwork” is more commonly used to describe the technique rather than the use of black thread and often colored threads, metallic threads and variegated threads are used.
