extends ../../layouts/_template-blog-article


block vars
	- var page_title = "What do I need for blackwork embroidery"
	- var page_description = "A quick guide on all everything you need to start stitching blackwork."
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	-var article_title = "What do I need to start stitching blackwork embroidery"
	-var article_duration = "4"
	-var article_date = "25 June 2022"
	-var article_photo = "bee-blackwork-by-trunky-stitches"

block nav
	- var active = "blog"

block article
	h2 What will I need?
	h3 Fabric
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/14-count-fabric.jpg" alt="14 count Aida vs 28 count evenweave")
		figcaption  Comparison of 14 count Aida and 28 count evenweave
	p Like cross stitch, #[a(href="/blog/what-is-blackwork-embroidery.html") blackwork embroidery] is stitched on Aida, evenweave or linen. If you are a beginner then I would recommend Aida fabric. I prefer to stitch on this as the holes to stitch in are clear to see. When stitching on Aida each hole in the fabric corresponds with the grid on the pattern chart. Where the lines on the grid intersect this is a hole on your fabric.
	p Evenweave on the other hand is normally stitched over 2 strands. So instead of stitching into every hole, every other hole corresponds with the pattern grid.
	p The size of the material required will be specified in the pattern, but it's always best to add a few inches all around to allow for framing and to keep the stitches away from the edges of the material, which can sometimes fray.
	h3 Pattern
	p If this is your first time trying blackwork then it is worth trying out a free pattern first. Once you have stitched your first piece and loved it (of course) you can then look for more patterns. #[a(href="/patterns.html") Check out the blackwork patterns I have designed].
	h3 Needle
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/needles.jpg" alt="Tapestry needles in packaging next to needle sizes from size 18 to 28")
		figcaption  Tapestry needles and their sizes
	p Tapestry needles are used to stitch blackwork, they have a blunt tip and large eye and come in a variety of sizes. You will want the recommended size needle depending on the fabric you are using. Most of my patterns are recommended to be stitched on 14 count Aida or 28 count evenweave, therefore a size 24 needle would be recommended, but feel free to go a size up (smaller needle) if you prefer.
	h3 Embroidery threads
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/threads-heart-small.jpg" alt="Colorful embroidery threads in the shape ofa heart")
		figcaption  DMC embroidery threads
	p #[a(href="/patterns.html") All my blackwork patterns] use DMC threads and normally with 1 strand, although it will say in the pattern if it is different. Embroidery thread normally comes in strands of 6. You would cut a piece off to your desired length and then pull out one of the strands and stitch with this.
	h3 Scissors
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/embroidery-scissors.jpg" alt="Pair of embroidery scissors")
		figcaption  Stork shaped embroidery scissors
	p Scissors are a must-have to cut off the strands to use and once you have finished stitching. You can use "normal" scissors, but I would recommend a pair of embroidery scissors. These are smaller, have short, narrow blades and are very sharp. The pointy tip makes it easy to cut single thread, and the sharpness means no chewed thread.
	h3 Hoop/frame to stitch on
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/frames.jpg" alt="Aida fabric in hoop and aida fabric in a snap frame")
		figcaption  Comparison of 14 count Aida in a hoop and snap frame
	p There are two main types of frames to stitch on - hoops and snap frames. The most common is an embroidery hoop, and these have been around for years. You can get hoops in wood or plastic, they keep the fabric tight, are light and easy to hold. The downside is they leave ring marks on your fabric which will need to be ironed out.
	p Q-snap frames work by placing your fabric over the inner frame, and using the clamps at the sides to clip the fabric in place. They are light and easier to hold due to their thickness. It's easier to move the fabric by unclipping and repositioning the fabric. They come in a variety of sizes, and I tend to use one that is slightly bigger than my finished piece. This means it leaves no indent marks on the area I'm working on, thus no ironing the finished piece. My preferred frame to stitch on is a Q-snap frame.
	h3 Lowery workstand (optional)
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/workstand.jpg" alt="Lowery workstand and mockup of how to sit with the stand next to your chair")
		figcaption  Setup of a lowery workstand

	p If you are a regular stitcher, then I would definitely recommend a lowery stand. The stand can be placed next to your chair/sofa where you stitch and holds your frame (hoop or snap frame) for you! This is obviously more comfortable to stitch with and frees up your other hand, which you can use to help you stitch much faster. I stitch with both hands - my dominant hand on top and my other hand underneath the fabric. It's amazing how quickly you adapt to two hand stitching!
	p Lowery workstands are not cheap but I would say they are worth the investment if you are a hard core stitcher! I was lucky to get my Lowery stand second hand for a very good price on eBay.
