extends ../../layouts/_template-blog-article


block vars
	- var page_title = "What is blackwork embroidery"
	- var page_description = "A quick guide all about blackwork embroidery"
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	-var article_title = "What is blackwork embroidery"
	-var article_duration = ""
	-var article_date = "21 June 2022"
	-var article_photo = "bee-blackwork-by-trunky-stitches"

block nav
	- var active = "what-is-blackwork"

block article
	h2 Quick summary
	p If you are familiar with counted cross stitch then it will be very easy for you to pick up blackwork. Blackwork is a form of counted-thread embroidery where the fabric has evenly spaced holes thus producing a uniform and precise pattern on an even-weave fabric. The stitch technique in blackwork is very similar to the backstitch you do in cross stitch, but so much more enjoable to stitch than in cross stitch!
	p Blackwork patterns normally feature repeating, geometric shapes or motifs which are sometimes floral, abstract or of elements of nature. They can be stitched in the traditional black or in a variety of colorful colors. Straight stitches are normally used giving it a a geometric feel. Patterns can range from complex to simple and can include shading and gradients. All of #[a(href="/patterns.html") my blackwork patterns] are beginner friendly.
	h2 ❤️ Why I love blackwork embroidery
	p Patterns may look complex at first but once you start stitching, you get into a rhythm and after a while no longer need to keep checking the pattern, making it a much faster stitch than cross stitch. Due to the repeating nature of the pattern, I find stitching blackwork very relaxing. Warning - you will become addicted to blackwork!
	h2 A little bit of history
	figure.single-thumbnail
		img(src="/assets/bwp/imgs/misc/tudor.jpg" alt="Tudor cuff decorated in blackwork embroidery")
		figcaption  Close up of a Tudor cuff with blackwork embroideryas worn by Queen Elizabeth I of England
	p Blackwork embroidery has been around since the Tudor period and was traditionally used to decorate collars, cuffs, ruffs and worked in black silk thread on white or off-white linen or cotton fabric.
	h2 How to get started with blackwork
	p #[a(href="/blog/what-do-i-need-for-blackwork-embroidery.html") What you need for blackwork embroidery]
