extends ../../layouts/_template-shop-product
include ../../includes/products

block vars
	- var page_title = "Dragonfly and lily pad pond Blackwork pattern"
	- var page_description = "Repeating geometric pattern of dragonflies with lotus flowers and lily pads. Available to download as a PDF."
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	- var sku = "bw_dragonfly"
	- var section_name = "Blackwork Patterns"
	- var section_link = "/blackwork-patterns"


block nav
	- var active = "patterns"
