extends ../../layouts/_template-shop-product
include ../../includes/products

block vars
	- var page_title = "Sea Turtle geometric Blackwork pattern"
	- var page_description = "Repeating geometric pattern of sea turtles stitched with black thread on 14 count white Aida"
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	- var sku = "bw_sea_turtle"

	- var section_name = "Blackwork Patterns"
	- var section_link = "/blackwork-patterns"


block nav
	- var active = "patterns"
