extends ../../layouts/_template-shop-products
include ../../includes/products


block vars
	- var page_title = "Nature Blackwork patterns - repeating animal embroidery patterns"
	- var page_description = "Animal and floral modern blackwork embroidery patterns"
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	- var product_category = true
	- var category_list = "nature"

	- var title = "Blackwork nature and wildlife patterns"
	- var intro = "Nature and wildlife is one of my favourite type of patterns to design. The first animal blackwork embroidery pattern I designed was the <a href=\"/patterns/bees-and-flowers-repeating-blackwork-pattern.html\">Bees and flowers blackwork</a>. From there on due to the grid like design of blackwork I have deisgned my animals with a geometric look. My favorite and most popular design is currently my <a href\"/patterns/geometric-fox-blackwork-pattern.html\">blackwork geometric fox pattern</a>. Check out the following patterns for more information."


block nav
	- var active = "patterns"
	- var sub_active = "nature"

block breadcrumb
	span
	| Nature blackwork patterns