extends ../layouts/_template-layout


block vars
    - var page_title = "About Trunky Stitches"
    - var page_description = "All about me, the creator of Trunky Stitches patterns"
    - var meta_og_type = ""
    - var meta_og_url = ""
    - var meta_og_image = ""

block nav
    - var active = "about"

block main
    main.main.single-page
        .page-header.breadcrumb-wrap
            .container
                .breadcrumb
                    a(href="/index.html", rel="nofollow") Home
                    span
                    | About Trunky Stitches
        section.mt-50.mb-50
            .container.custom
                .row
                    .col-lg-8.m-auto
                        .single-page.pl-30
                            .single-header.style-2
                                h1 About me
                            //-figure.single-thumbnail
                                img(src="/assets/bwp/imgs/about-banner.jpg", alt="")

                            .single-content
                                p My name is Claire, and Trunky Stitches was born after cross stitching for over 15 years and stumbling across blackwork embroidery on Etsy. I had never heard or seen needlework like it before. I watched a few videos on YouTube and could see it was very easy to pick up and a lot quicker to finish than cross stitch projects.

                                p After stitching some blackwork kits and free stitch-a-longs I decided to try and  #[a(href="/patterns.html") design my own blackwork patterns] but with a modern colour twist.

                                p I like to stitch all of my patterns before selling the patterns. This ensures there are no errors in the pattern and that the colour choices are correct. All of my patterns use regular DMC mouline stranded cotton threads and are listed with the chart.

                                p The name Trunky Stitches comes from my love of elephants x

                                p #[a(href="https://instagram.com/trunkystitches" target="_blank") Follow me on Instagram] for updates on new patterns!

                                p
                                    a.btn.btn-outline.btn-lg.btn-brand-outline.font-weight-bold.text-brand.text-hover-white.border-radius-5.btn-shadow-brand.hover-up(href="/patterns.html") View all PDF blackwork patterns
