extends ../layouts/_template-layout
include ../includes/products

block vars
	- var page_title = "Blackwork blog"
	- var page_description = "Hints 路 tips 路 Freebies 路 Techniques 路 Inspirations. Blackwork embroidery journal"
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	- var category_list = "blog"

block nav
	- var active = "blog"

block main
	main.main
		.page-header.breadcrumb-wrap
			.container
				.breadcrumb
					a(href="/index.html", rel="nofollow") Home
					span
					| Blog

	section.mt-50.mb-50
		.container.custom
			.row
				//- LEFT SIDE OF PAGE
				.col-lg-9
					.single-header.mb-50
						h1.font-xxl.text-brand Blog
					.loop-grid.loop-list.pr-30
						- var b_link = "what-is-blackwork-embroidery"
						article.wow.fadeIn.animated.hover-up.mb-30
							a(href="/blog/" + b_link + ".html")
								.post-thumb(style="background-image: url(/assets/bwp/imgs/blog/" + b_link + ".jpg")
							.entry-content-2
								h3.post-title.mb-15
									a(href="/blog/" + b_link + ".html") What is Blackwork embroidery?
								p.post-exerpt.mb-30 Only just heard about or discovered Blackwork embroidery? If you love to cross stitch then blackwork embroidery is your new best friend. Read on to find out what Blackwork is.
								.entry-meta.meta-1.font-xs.color-grey.mt-10.pb-10
									div
										span.post-on
											i.fi-rs-clock
											|  June 2022
									a.text-brand(href="/blog/" + b_link + ".html") Read more
										i.fi-rs-arrow-right

						- var b_link = "blackwork-faqs"
						article.wow.fadeIn.animated.hover-up.mb-30
							a(href="/blog/" + b_link + ".html")
								.post-thumb(style="background-image: url(/assets/bwp/imgs/blog/" + b_link + ".jpg")
							.entry-content-2
								h3.post-title.mb-15
									a(href="/blog/" + b_link + ".html") Quick blackwork FAQs
								p.post-exerpt.mb-30 A quick question and answer on blackwork embroidery.
								.entry-meta.meta-1.font-xs.color-grey.mt-10.pb-10
									div
										span.post-on
											i.fi-rs-clock
											|  June 2022
									a.text-brand(href="/blog/" + b_link + ".html") Read more
										i.fi-rs-arrow-right



						//-	- var b_link = "2022-06-blackwork-update-sea-turtle"
						//-	article.wow.fadeIn.animated.hover-up.mb-30
							a(href="/blog/" + b_link + ".html")
								.post-thumb(style="background-image: url(/assets/bwp/imgs/blog/" + b_link + ".jpg")
							.entry-content-2
								h3.post-title.mb-15
									a(href="/blog/" + b_link + ".html") Working on my latest blackwork pattern - Geometric Sea Turtle
								p.post-exerpt.mb-30 I am working on the next pattern in my geometric animal blackwork collection. Find out how I'm getting on.
								.entry-meta.meta-1.font-xs.color-grey.mt-10.pb-10
									div
										span.post-on
											i.fi-rs-clock
											|  June 2022
									a.text-brand(href="/blog/" + b_link + ".html") Read more
										i.fi-rs-arrow-right

						- var b_link = "what-do-i-need-for-blackwork-embroidery"
						article.wow.fadeIn.animated.hover-up.mb-30
							a(href="/blog/" + b_link + ".html")
								.post-thumb(style="background-image: url(/assets/bwp/imgs/blog/" + b_link + ".jpg")
							.entry-content-2
								h3.post-title.mb-15
									a(href="/blog/" + b_link + ".html") What do I need for blackwork embroidery?
								p.post-exerpt.mb-30 All the tools and materials you need to start stitching blackwork.
								.entry-meta.meta-1.font-xs.color-grey.mt-10.pb-10
									div
										span.post-on
											i.fi-rs-clock
											|  June 2022
									a.text-brand(href="/blog/" + b_link + ".html") Read more
										i.fi-rs-arrow-right



					//- post-grid
					//-.pagination-area.mt-15.mb-sm-5.mb-lg-0
						nav(aria-label="Page navigation example")
							ul.pagination.justify-content-start
								li.page-item.active
									a.page-link(href="#") 01
								li.page-item
									a.page-link(href="#") 02
								li.page-item
									a.page-link(href="#") 03
								li.page-item
									a.page-link.dot(href="#") ..
								li.page-item
									a.page-link(href="#") 16
								li.page-item
									a.page-link(href="#")
										i.fi-rs-angle-double-small-right
