extends ../layouts/_template-layout
include ../includes/products

block vars
	- var page_title = "Blackwork embroidery patterns | Modern blackwork cross stitch patterns"
	- var page_description = "Modern blackwork patterns by Trunky Stitches.Nature, rainbow and abstract blackwork designs. Instant pdf downloads."
	- var meta_og_type = ""
	- var meta_og_url = ""
	- var meta_og_image = ""

	- var category_list = "home"

block nav
	- var active = "index"

block main
	main.main
		//- 3 banner layout
		section.home-slider.position-relative.pt-25.pb-20
			.container
				.row
					.col-lg-9
						.position-relative
							.hero-slider-1.style-3.dot-style-1.dot-style-1-position-1
								.single-hero-slider.single-animation-wrap
									.container
										.slider-1-height-3.slider-animated-1
											.hero-slider-content-2
												h4.animated Blackwork patterns
												h1.animated.fw-900.text-brand Nature &amp; wildlife
												p.animated View all patterns
												a.animated.btn.btn-brush.btn-brush-3(href="/patterns/nature-blackwork-patterns.html")  Shop Now
											.slider-img
												img(src="/assets/bwp/imgs/slider/nature.png", alt="Framed nature blackwork embroidery hoops")
								//-.single-hero-slider.single-animation-wrap
									.container
										.slider-1-height-3.slider-animated-1
											.hero-slider-content-2
												h4.animated Vibrant multi-color rainbow patterns
												//-h2.animated.fw-900 Vibrant multi-color rainbow patterns
												h1.animated.fw-900.text-brand Rainbow patterns
												p.animated View all rainbow blackwork patterns
												a.animated.btn.btn-brush.btn-brush-3(href="/patterns/rainbow-blackwork-patterns.html")  Shop Now
											.slider-img
												img(src="/assets/imgs/slider/slider-5.png", alt="")
							.slider-arrow.hero-slider-1-arrow.style-3
					.col-lg-3.d-md-none.d-lg-block
						.banner-img.banner-1.wow.fadeIn.animated.home-3
							a(href="patterns/geometric-sea-turtle-blackwork-pattern.html")
								img.border-radius-10(src="/assets/bwp/imgs/banner/bw_sea_turtle.jpg", alt="Framed Sea Turtle repeating blackwork embroidery")
								.banner-text
									span LATEST PATTERN
									h4 Geometric Sea Turtle
										br
										| Blackwork pattern
									a(href="patterns/geometric-sea-turtle-blackwork-pattern.html") View Now
										i.fi-rs-arrow-right
						.banner-img.banner-2.wow.fadeIn.animated.mb-0
							img.border-radius-10(src="/assets/bwp/imgs/banner/threads.jpg", alt="Embroidery threads")
							.banner-text
								//-span Smart Offer
								h4 Blog
								a(href="/blog.html") View blog
									i.fi-rs-arrow-right

		//- Blackwork patterns (Featured items)
		section.popular-categories.section-padding.mt-15
			.container.wow.fadeIn.animated.section-area
				h2.section-title.mb-20.title-style
					a(href="patterns.html")
						span Blackwork Patterns
				p.section-intro All patterns are designed by me and I like to stitch a prototype to make sure there are no errors in the pattern and that the colour choices are correct. Patterns are download only and can be viewed on mobile/tablet or printed out.
				.carausel-6-columns-cover.position-relative
					#carausel-6-columns-arrows.slider-arrow.slider-arrow-2.carausel-6-columns-arrow
					#carausel-6-columns.carausel-6-columns
						each _p in product_categories[category_list]
							+feat_product(products[_p].product_name, _p, products[_p].url)
			p.mt-4.text-center.wow.fadeIn.animated.animated(style="visibility: visible;")
				a.btn.btn-brand.btn-lg.font-weight-bold.text-white.border-radius-5.btn-shadow-brand.hover-up(href="patterns.html") View all blackwork patterns

		//- From Blog
		//-section.section-padding
			.container.pt-25.pb-20
				.row
					.col-lg-6
						h3.section-title.mb-20
							span From
							|  blog
						.post-list.mb-4.mb-lg-0
							article.wow.fadeIn.animated
								.d-md-flex.d-block
									.post-thumb.d-flex.mr-15
										a.color-white(href="blog-post-fullwidth.html")
											img(src="/assets/imgs/blog/blog-2.jpg", alt="")
									.post-content
										.entry-meta.mb-10.mt-10
											a.entry-meta.meta-2(href="blog-category-fullwidth.html")
												span.post-in.font-x-small Fashion
										h4.post-title.mb-25.text-limit-2-row
											a(href="blog-post-fullwidth.html") Qualcomm is developing a Nintendo Switch-like console, report says
										.entry-meta.meta-1.font-xs.color-grey.mt-10.pb-10
											div
												span.post-on 14 April 2022
												span.hit-count.has-dot 12M Views
											a(href="blog-post-right.html") Read More
							article.wow.fadeIn.animated
								.d-md-flex.d-block
									.post-thumb.d-flex.mr-15
										a.color-white(href="blog-post-fullwidth.html")
											img(src="/assets/imgs/blog/blog-1.jpg", alt="")
									.post-content
										.entry-meta.mb-10.mt-10
											a.entry-meta.meta-2(href="blog-category-fullwidth.html")
												span.post-in.font-x-small Healthy
										h4.post-title.mb-25.text-limit-2-row
											a(href="blog-post-fullwidth.html") Not even the coronavirus can derail 5G&apos;s global momentum
										.entry-meta.meta-1.font-xs.color-grey.mt-10.pb-10
											div
												span.post-on 14 April 2022
												span.hit-count.has-dot 12M Views
											a(href="blog-post-right.html") Read More
					.col-lg-6
						.row
							.col-md-6
								.banner-img.banner-1.wow.fadeIn.animated
									img(src="/assets/imgs/banner/banner-5.jpg", alt="")
									.banner-text
										span Accessories
										h4 Save 17% on
											br
											| Autumn Hat
										a(href="shop-grid-right.html") Shop Now
											i.fi-rs-arrow-right
							.col-md-6
								.banner-img.mb-15.wow.fadeIn.animated
									img(src="/assets/imgs/banner/banner-6.jpg", alt="")
									.banner-text
										span Big Offer
										h4 Save 20% on
											br
											| Women&apos;s socks
										a(href="shop-grid-right.html") Shop Now
											i.fi-rs-arrow-right
								.banner-img.banner-2.wow.fadeIn.animated.mb-0
									img(src="/assets/imgs/banner/banner-7.jpg", alt="")
									.banner-text
										span Smart Offer
										h4 Save 20% on
											br
											| Eardrop
										a(href="shop-grid-right.html") Shop Now
											i.fi-rs-arrow-right
		//- What you get banner
		//-section.banner-2.section-padding.pb-0
			.container
				.banner-img.banner-big.wow.fadeIn.animated.f-none
					img(src="/assets/imgs/banner/banner-4.png", alt="")
					.banner-text.d-md-block.d-none
						h4.mb-15.mt-40.text-brand Instant Digital Download patterns
						h2.fw-600.mb-20 What you get
							br
							| when you purchase one of my patterns
						a.btn(href="what-you-get.html") Learn More
							i.fi-rs-arrow-right
