extends _template-layout
include ../includes/products

block nav
	- var active = "patterns"

block main
	main.main
		.page-header.breadcrumb-wrap
			.container
				.breadcrumb
					a(href="/index.html", rel="nofollow") Home
					span
					a(href="/patterns.html", rel="nofollow") Patterns
					block breadcrumb

		section.mt-50.mb-50
			.container
				.row.flex-row-reverse
					//- main grid area
					.col-lg-9
						h1.mb-10= title

						p.product-page-intro.mb-20!= intro


						//-.shop-product-fillter
							//-.totall-product
								p  We found
									strong.text-brand 688
									| items for you!
							.sort-by-product-area
								.sort-by-cover.mr-10
									.sort-by-product-wrap
										.sort-by
											span
												i.fi-rs-apps
												| Show:
										.sort-by-dropdown-wrap
											span  50
												i.fi-rs-angle-small-down
									.sort-by-dropdown
										ul
											li
												a.active(href="#") 50
											li
												a(href="#") 100
											li
												a(href="#") 150
											li
												a(href="#") 200
											li
												a(href="#") All
								.sort-by-cover
									.sort-by-product-wrap
										.sort-by
											span
												i.fi-rs-apps-sort
												| Sort by:
										.sort-by-dropdown-wrap
											span  Featured
												i.fi-rs-angle-small-down
									.sort-by-dropdown
										ul
											li
												a.active(href="#") Featured
											li
												a(href="#") Price: Low to High
											li
												a(href="#") Price: High to Low
											li
												a(href="#") Release Date
											li
												a(href="#") Avg. Rating
						//- Product list
						.row.product-grid-3
							-if(product_category === true)
								each _p in product_categories[category_list]
									+product_element(products[_p].product_name, _p, products[_p].url, products[_p].percent, products[_p].reviews.length, products[_p].label)
							-else
								each _product, key in category_list
									+product_element(_product.product_name, key, _product.url, _product.percent, _product.reviews.length, _product.label)

						h3 More Coming Soon!

					.col-lg-3.primary-sidebar.sticky-sidebar
						.widget-category.mb-30
							h5.section-title.style-1.mb-30.wow.fadeIn.animated Category
							ul.categories
								include ../includes/_nav_patterns_sub

