header.header-area.header-style-5
    .header-bottom.sticky-bar.sticky-white-bg
        .container
            .header-wrap.header-space-between.position-relative
                .logo.logo-width-1
                    a(href="/index.html")
                        img(src="/assets/bwp/imgs/logo.svg", alt="Blackwork patterns by Trunky Stitches")
                        | Blackwork Patterns
                .main-menu.main-menu-grow.main-menu-padding-1.main-menu-lh-1.main-menu-mrg-1.hm3-menu-padding.d-none.d-lg-block.hover-boder
                    nav
                        ul
                            li
                                a(class=(active === "index" ? "active" : undefined) href="/index.html") Home
                            li
                                a(class=(active === "patterns" ? "active" : undefined) href="/patterns.html") Patterns
                                    i.fi-rs-angle-down
                                ul.sub-menu
                                   include _nav_patterns_sub.pug
                            li
                                a(class=(active === "blog" ? "active" : undefined) href="/blog.html") Blog
                            li
                                a(class=(active === "what-is-blackwork" ? "active" : undefined) href="/blog/what-is-blackwork-embroidery.html") What is blackwork?
                            li
                                a(class=(active === "about" ? "active" : undefined) href="about.html") About
                .header-action-right
                    .header-action-2
                        .header-action-icon.d-none.d-lg-block.header-action-btn-shop
                            a(href="https://www.etsy.com/shop/TrunkyStitches?ref=bwp" target="_blank" class="btn")
                                | <i class="fi-rs-shopping-bag"></i>
                                | Visit my Etsy shop
                        .header-action-icon.d-block.d-lg-none
                            .burger-icon
                                span.burger-icon-top
                                span.burger-icon-mid
                                span.burger-icon-bottom
.mobile-header-active.mobile-header-wrapper-style
    .mobile-header-wrapper-inner
        .mobile-header-top
            .mobile-header-logo
                a(href="/index.html")
                    img(src="/assets/bwp/imgs/logo.svg", alt="Trunky Stitches")
            .mobile-menu-close.close-style-wrap.close-style-position-inherit
                button.close-style.search-close
                    i.icon-top
                    i.icon-bottom
        .mobile-header-content-area
            .mobile-menu-wrap.mobile-header-border
                // mobile menu start
                nav
                    ul.mobile-menu
                        li.menu-item
                            a(class=(active === "index" ? "active" : undefined) href="/index.html") Home
                        li.menu-item-has-children
                            span.menu-expand
                            a(class=(active === "patterns" ? "active" : undefined) href="/patterns.html") Patterns
                            ul.dropdown
                                include _nav_patterns_sub.pug
                        li.menu-item
                            a(class=(active === "blog" ? "active" : undefined) href="/blog.html") Blog
                        li.menu-item
                            a(class=(active === "what-is-blackwork" ? "active" : undefined) href="/blog/what-is-blackwork-embroidery.html") What is blackwork?
                        li.menu-item
                            a(class=(active === "about" ? "active" : undefined) href="/about.html") About
                // mobile menu end
            .mobile-header-info-wrap.mobile-header-border
                .single-mobile-header-info.mt-30
                    a(href="https://www.etsy.com/shop/TrunkyStitches?ref=bwp-h" target="_blank")  Visit Etsy shop
            .mobile-social-icon
                h5.mb-15.text-grey-4 Follow Us
                a(href="https://instagram.com/trunkystitches" target="_blank" nofollow)
                    img(src="/assets/imgs/theme/icons/icon-instagram.svg", alt="Trunky Stitches on Instagram")
                a(href="https://www.pinterest.com/trunkystitches/" target="_blank" nofollow)
                    img(src="/assets/imgs/theme/icons/icon-pinterest.svg", alt="Trunky Stitches on Pinterest")