li
	a(class=(sub_active === "all-patterns" ? "active" : '') href="/patterns.html") All Blackwork patterns
li
	a(class=(sub_active === "nature" ? "active" : '') href="/patterns/nature-blackwork-patterns.html") Nature Blackwork Patterns
li More Coming Soon!
//-li
	a(class=(sub_active === "rainbow" ? "active" : '') href="/patterns/rainbow-blackwork-patterns.html") Rainbow Blackwork Patterns
//-li
	a(class=(sub_active === "abstract" ? "active" : '') href="/patterns/abstract-blackwork-patterns.html") Abstract Blackwork Patterns
//-li
	a(class=(sub_active === "free" ? "active" : '') href="/patterns/free-blackwork-patterns.html") Free Blackwork patterns