block global_vars
	-
		var product_categories = {
			nature: [
				"bw_fox",
				"bw_bees_flowers",
				"bw_dragonfly",
				"bw_sea_turtle"
			],
			home: [
				"bw_sea_turtle",
				"bw_fox",
				"bw_dragonfly",
				"bw_bees_flowers"
			]
		}

	-
		var products = {
			bw_sea_turtle:{
				product_name:"Geometric turtle blackwork pattern",
				url: "geometric-sea-turtle-blackwork-pattern",
				etsy_product_page: "https://www.etsy.com/listing/1217490706?ref=own-website",
				desc_short: "Seamless repeating blackwork pattern of geometric sea turtles encircled in seaweed, starfish and bubbles!",
				desc_long: "<p>Blackwork beginner pattern of repeating cute, geometric sea turtles stitched on 14 count Aida.</p><p>Pattern is designed to fit an oval 6 inch hoop frame or 6 inch square frame with 14 count Aida but can easily be adapted to fit a variety of different shape and sized frames due to the nature of the repeating design.</p><p>All stitches are full backstitch.</p><p>2 chart versions are included but can easily be adapted.</p><ul><li>★ Circle version - 6 inches x 6 inches</li><li>★ Square version - 6 inches x 6 inches</li></ul><p>Once stitched it is easy to frame in a wooden hoop / flexi hoop or square frame (available at most craft stores) and looks great as wall art in your home.</p>",
				size: "6.3\" x 6.3\" (88 x 88 stitches)",
				threads: "Black, Turquoise and Yellow DMC floss",
				get:"<ul><li>★ PDF pattern chart 6 inch Circle version- High resolution mobile/tablet view and multi page print out option</li><li>★ PDF pattern chart 6 inch Square version- High resolution mobile/tablet view and multi page print out option</li><li>★ 1 page instructions /beginners guide to blackwork embroidery</li><li>★ DMC Thread chart</li></ul>",
				label: "New",
				percent: 100,
				reviews: [
					{
						name: "Charles",
						comment: "Can't wait to get this started. I will post a photo when completed. Thank you for such a brilliant project!",
						percent: 100,
						date: "June 10, 2022"
					}
				],
				related: [
					"bw_bees_flowers",
					"bw_fox",
					"bw_dragonfly"
				]
			},
			bw_fox:{
				product_name:"Geometric Fox blackwork pattern",
				url: "geometric-fox-blackwork-pattern",
				etsy_product_page: "https://www.etsy.com/listing/1183667441?ref=own-website",
				desc_short: "Woodland fox blackwork pattern with repeating leaves and trees.",
				desc_long: "<p>Seamless repeating blackwork pattern of geometric foxes encircled in leaves and trees.</p><p>If you are familiar with cross stitch and in particular backstitch then you will have no trouble with blackwork. If you are new to blackwork then all my patterns include a 'How to blackwork' guide and it's super easy to get started.</p><p>Pattern is designed to fit an oval 6 inch hoop frame or 6 inch square frame with 14 count Aida but can easily be adapted to fit a variety of different shape and sized frames due to the nature of the repeating design.</p><p>All stitches are full backstitch.</p><p>2 chart versions are included but can easily be adapted.</p><ul><li>★ Circle version - 6 inches x 6 inches</li><li>★ Square version - 6 inches x 6 inches</li></ul><p>Once stitched it is easy to frame in a wooden hoop or flexi hoop (available at most craft stores) and looks great as wall art in your home.</p>",
				size: "6.3\" x 6.3\" (90 x 90 stitches)",
				threads: "2 - Black and Orange DMC floss",
				get:"<ul><li>★ PDF pattern chart 6 inch Circle version- High resolution mobile/tablet view and multi page print out option</li><li>★ PDF pattern chart 6 inch Square version- High resolution mobile/tablet view and multi page print out option</li><li>★ 1 page instructions /beginners guide to blackwork embroidery</li><li>★ DMC Thread chart</li></ul>",
				label: "Hot",
				percent: 100,
				reviews: [
					{
						name: "Helen",
						comment: "A beautiful pattern that I am really enjoying making. Thank you!",
						percent: 100,
						date: "April 9, 2022"
					},
					{
						name: "Ram",
						comment: "Cure design with good instructions",
						percent: 100,
						date: "May 18, 2022"
					},
					{
						name: "Neil",
						comment: "Such a cute pattern! loved stitching this one.",
						percent: 100,
						date: "June 12, 2022"
					},
					{
						name: "Ashley",
						comment: "Beautiful pattern, can't wait to stitch it",
						percent: 100,
						date: "June 15, 2022"
					},
					{
						name: "Mary",
						comment: "Easy to follow patterns, great designs",
						percent: 100,
						date: "June 27, 2022"
					}


				],
				related: [
					"bw_bees_flowers",
					"bw_sea_turtle",
					"bw_dragonfly"
				]
			},
			bw_bees_flowers:{
				product_name:"Bees and Flowers Blackwork pattern",
				url: "bees-and-flowers-repeating-blackwork-pattern",
				etsy_product_page: "https://www.etsy.com/listing/1087848039?ref=own-website",
				desc_short: "Full coverage blackwork pattern of black and gold bummblebees and flowers",
				desc_long: "<p>Full coverage blackwork piece featuring a repeating geometric pattern of flowers and bumble bees.</p><p>If you are familiar with cross stitch and in particular backstitch then you will have no trouble with blackwork. If you are new to blackwork then all my patterns include a 'How to blackwork' guide and it's super easy to get started.</p><p>Pattern designed to fit a 6 inch round frame (when stitched on 14 count aida) but due to the repeating pattern can easily be adapted to fit a variety of different shaped frames</p><p>I designed two versions of this pattern and couldn't decide which one I prefer so I have included both versions in the download:<ul><li>★ Version 1 - hints of gold on the bees</li><li>★ Version 2 - plain black bees.</li></ul></p><p>2 chart versions are included but can easily be adapted.</p><ul><li>★ Circle version - 6 inches x 6 inches</li><li>★ Square version - 6 inches x 6 inches</li></ul><p>Once stitched it is easy to frame in a wooden hoop or flexi hoop (available at most craft stores) and looks great as wall art in your home.</p>",
				size: "6.3\" x 6.3\"",
				threads: "Black and gold (can be substituted for yellow)",
				get:"<ul><li>★ PDF pattern chart 6 inch Circle version- High resolution mobile/tablet view and multi page print out option</li><li>★ PDF pattern chart 6 inch Square version- High resolution mobile/tablet view and multi page print out option</li><li>★ 1 page instructions /beginners guide to blackwork embroidery</li><li>★ DMC Thread chart</li></ul>",
				label: "Bestseller",
				reviews: [
					{
						name: "Emily",
						comment: "Love this pattern. easy to follow, good layout, gorgeous end result!",
						percent: 100,
						date: "April 26, 2022"
					},
					{	name: "Quincy",
						comment: "really fun and easy pattern! definitely recommend :)",
						percent: 100,
						date: "March 19, 2022"
					},
					{	name: "Danielle",
						comment: "A very beautiful pattern. it's quite easy to make and adaptable to any shape you want it to be.",
						percent: 100,
						date: "February 9, 2022"
					},
					{	name: "SerenadeStrong",
						comment: "beautiful pattern, the instructions are easy to follow",
						percent: 100,
						date: "March 22, 2022"
					}
				],
				percent: 100,
				related: [
				]
			},
			bw_dragonfly:{
				product_name:"Dragonfly Blackwork pattern",
				url: "dragonfly-pond-repeating-blackwork-pattern",
				etsy_product_page: "https://www.etsy.com/uk/listing/1220391985?ref=own-website",
				desc_short: "Modern blackwork pattern of repeating dragonflies and lily flowers and lily pads.",
				desc_long: "<p>Geometric Dragonfly blackwork pattern featuring water lilies and lily pads. The middle dragonfly has blue body and grey wings.</p><p>If you are familiar with cross stitch and in particular backstitch then you will have no trouble with blackwork. If you are new to blackwork then all my patterns include a 'How to blackwork' guide and it's super easy to get started.</p><p>Pattern designed to fit a 6 inch round frame (when stitched on 14 count aida) but due to the repeating pattern can easily be adapted to fit a variety of different shaped frames</p><p>2 chart versions are included but can easily be adapted.</p><ul><li>★ Circle version - 6 inches x 6 inches</li><li>★ Square version - 6 inches x 6 inches</li></ul><p>Once stitched it is easy to frame in a wooden hoop or flexi hoop (available at most craft stores) and looks great as wall art in your home.</p>",
				size: "6.3\" x 6.3\"",
				threads: "3 - Black, blue and grey",
				get:"<ul><li>★ PDF pattern chart 6 inch Circle version- High resolution mobile/tablet view and multi page print out option</li><li>★ PDF pattern chart 6 inch Square version- High resolution mobile/tablet view and multi page print out option</li><li>★ 1 page instructions /beginners guide to blackwork embroidery</li><li>★ DMC Thread chart</li></ul>",
				label: "",
				percent: 100,
				reviews: [
					{	name: "Marissa",
						comment: "",
						percent: 100,
						date: "March 9, 2022"
					}
				],
				related: [
					"bw_sea_turtle",
					"bw_fox",
					"bw_bees_flowers"
				]
			}


		}


