/****************************/
/* General overwrites */
a{
	color:#BC58BC;
}
h1 {
    font-size: 28px;
}
.btn{
    border-radius: 50px;
}
.tagline{
    position: relative;
    color: #BC58BC;
    background: rgba(188, 88, 188, 0.2);
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 0.6em;
    font-size: 1.2em;
    font-weight: bold;
}
.tagline:before, .tagline:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    border-top: 1.2em solid transparent;
    border-bottom: 1.2em solid transparent;
}
.tagline:before {
    border-right: 1em solid rgba(188, 88, 188, 0.2);
    left: 0;
    transform: translate(-1em, -50%);
}
.tagline:after {
    border-left: 1em solid rgba(188, 88, 188, 0.2);
    right: 0;
    transform: translate(1em, -50%);
}
#footer{
    border-top:5px solid #BC58BC;
    background: #f7f7f7;
}
#footer .foot-column:first-child{
    margin-bottom: 2rem;
}
#footer .etsy-button{
    background-color: #F45800;
    color:white;
    font-weight: bold;
    padding: 0.8em 1.4em;
    border-radius: 10px;
    display: inline-flex;
    font-size: .9em;
    margin-top:1rem;
    opacity: .8;
}
#footer .etsy-button:hover, #footer .etsy-button:focus{
    opacity: 1;
}
#footer .etsy-button img{
    height: 22px;
    margin-right: 0.5em;
}
.mobile-social-icon a img{
    opacity: .8;
}
.product-cart-wrap:hover .product-img-zoom a img {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
    transform: scale3d(1.20, 1.20, 1.20) translateZ(0);
}
.content-restrict{
    max-width: 500px
}
        /* Header */
.header-style-5 .logo.logo-width-1 a{
	display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 1rem;

}
.header-style-5 .logo.logo-width-1 a img {
    width: 100px;
    min-width: 100px;
	margin-right: 1rem;
	margin-bottom: 5px;
}

.header-style-5 .stick .logo.logo-width-1 a img {
    width: 72px;
    min-width: 72px;
}
.page-header .breadcrumb {
    text-transform: none;
}

        /* Navigation bar */
.main-menu.main-menu-mrg-1 {
    margin-bottom: -7px;
}
.main-menu > nav > ul > li > a {
    border-bottom: 7px solid transparent;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.main-menu > nav > ul > li > a.active {
    color: black;
    border-bottom-color: #BC58BC;
}
.sticky-bar, .sticky-bar.stick {
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 19%);
	border-bottom:none;
    z-index: 99999;
}
.main-menu > nav > ul > li:hover > a {
    color: #BC58BC;
}
.main-menu > nav > ul > li ul.sub-menu{
    z-index: 99999;
}
.main-menu > nav > ul > li ul.sub-menu li{
    margin-bottom: 17px;
}
.main-menu > nav > ul > li ul.sub-menu li a{
    line-height: 1.3;
}
.header-action-btn-shop .btn, .btn-mobile-shop{
    background-color: #ef7513;
    border: none;
}
.header-action-btn-shop .btn > i{
    margin-right: 0.5rem;
}

/* Mobile navigation */
.mobile-social-icon a img{
    max-width: 40px;
}
.mobile-social-icon a{
    margin-right: 25px;
}
.header-action-right{
    padding: 1rem;
}
        /* sections */
.section-area h2.section-title{
    text-align: center;
}
.section-intro{
    max-width:680px;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.1rem;
}
.title-style{
    position: relative;
}
.title-style:after{
    content: "";
    height: 6px;
    width: 40px;
    background-color: #BC58BC;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}
.title-style span{
    color: #323232;
}
        /* cards */
.card-1{
    border:none;
}
.card-1 figure, .card-1 figure img{
    border-radius: 0px;
}
.message {
    padding: 1rem;
    background: black;
    color: white;
    text-align: center;
    font-weight: 600;
}
.message p {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.message p a{
    color: white;
}
.message p a:focus, .message p a:hover{
    text-decoration: underline;
}
.message span{
    text-decoration: underline;
    padding-left: 10px;
}
/**********************************/
/* PAGE :: Home */

/*      Section :: Banners */



/* featured product of month */
.banner-img.banner-1.home-3{
    margin-bottom: 0;
}
.banner-img.banner-1.home-3 .banner-text {
    background: rgb(229 241 255 / 55%);
    padding: 10px 20px 15px;
    top:20%;
}
.banner-img.banner-1.home-3 .sub-title{
    font-size: 12px;
}
.banner-img.banner-1.home-3 h4{
    margin-bottom: 0;margin-top: 10px;
}

.banner-img.banner-2{
    margin-top: 24px;
}
.banner-img:hover img{
    opacity: 0.7;
}
.banner-2 .banner-text:hover h4{
    margin-left: 0;
}
.banner-2.banner-img .banner-text{
    width: 100%;
    text-align: center;
}
.banner-2.banner-img .banner-text h4{
    margin-bottom: 0;
}
.banner-2.banner-img .banner-text span{
    color:#BC58BC;
}

/*      Setion :: Feat patterns */
.carausel-feat {
    overflow: hidden;
    margin: 0 -12px;
}
.carausel-feat .card-1 {
    margin-right: 12px;
    margin-left: 12px;
}
.slider-arrow .slider-btn{
    color: white;
    background: #BC58BC;
    border-color: #BC58BC;
}
.card-1 .price{
    display: block;
    margin-top: 1em;
    font-size: .8rem;
}
.product-cart-wrap .product-img-action-wrap .product-img a img{
    width:100%;
    height: auto;
}
.product-cart-wrap .product-img-action-wrap {
    padding: 10px 0 12px;
}
/*      Setion :: Categories */
.category-grid{
    margin-top: 3rem;
}
.category-grid .card-1 figure, .category-grid .card-1 figure img{
    border-radius: 9px;
}

/*      Setion :: Blog */
.blog_article .blurb{
    font-size:.9rem;
}

/*      Section :: Customer reviews / testimonials */
.section-testimonials{
    background: rgb(108 18 120 / 17%);
    padding-top: 2.4rem;
}
.section-testimonials h3 {
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.section-testimonials h3 img {
    width: 100px;
    height: 50px;
    display: inline-block;
    padding: 5px;
}
.section-testimonials .testimonial-card .stars{
    background: white url(../imgs/icons/stars.png) no-repeat center center;
    width: 76px;
    height: 15px;
    padding: 1rem 3rem;
    display: inline-flex;
    border-radius: 8px;
    margin-top: 0.7rem;
}
.testimonial-card {
    text-align: center;
    margin: 2rem;
}
.testimonial-card .author{
    font-weight: bold;
}
/**********************************/
/* PAGE :: PRODUCTS LIST */

.widget-category ul > li a.active {
    color: #BC58BC;
    font-weight: bold;
}
.product-cart-wrap{
    border:none;
}
.product-cart-wrap:hover{
    box-shadow: none;
    -webkit-box-shadow:none;
}
.product-cart-wrap .product-content-wrap{
    text-align: center;
}
.product-cart-wrap .product-content-wrap h2{
    font-size: .9rem;
}
.product-cart-wrap .product-badges span.hot {
    background-color: #e76309;
}
.product-cart-wrap .product-img-action-wrap {
    overflow: auto;
    max-height: 100%;
}
.product-cart-wrap, .product-cart-wrap .product-img-action-wrap .product-img, .product-cart-wrap .product-img-action-wrap .product-img a img, .banner-img.banner-1.home-3, .hero-slider-1.style-3 .slider-img{
    border-radius: 0px;
}
.product-cart-wrap .product-rate{
    display: flex;
    align-items: baseline;
}
.product-cart-wrap .product-detail-rating span{
    display: flex;
    margin-left: .5em;
    font-size: .7rem;
}
.product-cart-wrap .product-detail-rating{
    justify-content: left;
    padding: 0;
}
.product-price{
    color:#626262;
    font-size: .9rem;
}
.product-cart-wrap .product-content-wrap .product-price span {
    font-size: inherit;
    font-weight: bold;
    color: inherit;
}
.product-page-intro{
    max-width:680px;
    margin-bottom: 2rem;
    font-size: .95rem;
    margin-top: 1.7rem;
}

.row.related-products .product-cart-wrap .product-detail-rating{
    justify-content: center;
}



/**********************************/
/* PAGE :: PRODUCT PAGE */

.description p, .description ul{
    font-size: 1rem;
    margin-bottom: .9rem;
}
.description li{
    margin-bottom: .5rem;
}
.product-more-infor li span {
    margin-right: 2rem;
}

/**********************************/
/* PAGE :: SINGLE ARTICLE LIKE BLOG POST */
.single-page h2{
    font-size: 1.4rem;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}
.single-content h3 {
    font-size: 1.1rem;
    line-height: 1.2em;
    margin-bottom: 0.4em;
    margin-top: 1.6em;
}
.single-content p, .single-content ul li{
    font-size: 1.1rem;
    line-height: 1.5em;
}
.blog-article-sidebar{
    padding-left: 6%;
}
.blog-article-sidebar h2{
    font-size: 20px;
    text-align: center;
}

/** Instagram overlay */
.j-overlay{
    z-index: 100000 !important;
}